body {
    background: url();
}

.navbar {
    background: #233b7e;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
    transition: 0.3s;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #0074f9;
    border-radius: 10px;
}

.nav-link:focus {
    color: #00aaf9;
    text-shadow: 0 0 10px #ffffff;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    border: 1px solid #ffffff !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: rgba(255, 255, 255, 0.7);
}

.btn-success:hover {
    box-shadow: 0 0 7px #28a745;
    text-shadow: 0 0 3px #fff;
}

.btn-info:hover {
    box-shadow: 0 0 7px #17a2b8;
    text-shadow: 0 0 3px #fff;
}

.btn-danger:hover {
    box-shadow: 0 0 7px #b81717;
    cursor: pointer;
    text-shadow: 0 0 3px #fff;
}

a.resume {
    border-radius: 15px;
    border: 3px solid #3b5bb3;
    text-decoration: none;
    padding: 10px;
    color: #3b5bb3;
    font-weight: bold;
    transition: 0.2s ease;
}

a.resume:hover {
    color: #fff;
    text-shadow: 0 0 5px #000000;
    background: #3b5bb3;
}

.header {
    background-image: url("./images/seattle.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.568);
}

.description {
    position: absolute;
    top: 30%;
    right: 0;
    margin: auto;
    padding: 2em;
    margin: auto;
    text-align: center;
}

.description h1 {
    color: #1352a3;
}

.description p {
    color: rgb(61, 61, 61);
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
    margin: auto;
    margin-bottom: 3%;
    margin-top: 2%;
    text-align: justify;
}

.description button {
    border: 1px solid #2caaff;
    background: #0077ff;
    color: #ffffff;
}

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: #1352a3;
    margin: 2em;
}

.about img {
    height: 100%;
    border-radius: 50%;
    margin-left: 15%;
    box-shadow: 2px 2px 12px #4e4e4e;
}

.about span {
    display: block;
    color: #888;
    position: absolute;
    margin: 1em;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #10828C;
}

.about .desc h3 {
    color: #10828C;
    padding: 5%;
}

.about .desc p {
    line-height: 2;
    color: #888;
}

.portfolio {
    margin: 4em 0;
    position: relative;
    background-image: url("./images/rainier.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-bottom: 7%;
}

.portfolio h1 {
    color: #1352a3;
    margin-top: 15%;
    padding-top: 5%;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 20px #4e4e4e;
}

.portfolio img {
    height: 15rem;
    width: 100%;
    max-width: 400px;
    margin: 1em;
    object-fit: cover;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    transition: 0.15s;
}

.middle {
    transition: .15s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
}

.middle a {
    color: yellow;
    font-weight: bolder;
    text-shadow: 0 0 7px #000;
    transition: 0.3s ease;
    margin: auto;
}

.middle a:hover {
    text-decoration: none;
    color: rgb(255, 236, 66);
    text-shadow: 0 0 7px rgb(255, 230, 0);
}

#repo-icon {
    font-size: 50px;
    display: inline-block;
    cursor: pointer;
    margin: 15px 15px 15px 15px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
}

.middle a:hover #repo-icon {
    color: #15b43a;
    text-shadow: 0 0 7px #000;
}

.portContainer:hover .middle {
    opacity: 1;
}

.portContainer:hover .portimg {
    filter: brightness(120%) blur(3px);
    box-shadow: 0 0 20px rgb(114, 114, 114);
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    outline: 1px solid #4973ffc5;
    outline-offset: -4px;
    cursor: pointer;
}

.projects {
    margin: 4em 0;
    padding-top: 5%;
    position: relative;
}

.projects h1 {
    color: #1352a3;
    margin-bottom: 5%;
}

.projects .card {
    box-shadow: 0 0 20px #ccc;
}

.projects .card img {
    height: 15rem;
    width: 100%;
    max-width: 600px;
    object-fit: cover;
}

.projects .card-title {
    color: #1352a3;
}

.projects .card-body {
    padding: 1em;
}

.contact-form {
    margin: 6em 0;
    position: relative;
    padding-top: 7%;
    padding-bottom: 7%;
    background-image: url("./images/seattletransport.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.contact-form h1 {
    padding: 2em 1px;
    color: #1352a3;
    position: relative;
    z-index: 1;
    text-shadow: 0 0 20px #4e4e4e;
}

.contact-form .right {
    max-width: 600px;
}

.contact-form .right .btn-secondary {
    background: #0077ff;
    color: #ffffff;
    border: 0;
    transition: 0.5s;
}

.contact-form .right .btn-secondary:hover {
    background: #004696;
    cursor: pointer;
}

.contact-form .right .form-control::placeholder {
    color: #888;
    font-size: 16px;
}

html, h1, h2, h3, h4, h5, h6, a {
    font-family: Raleway;
}

.navbar-toggler:hover {
    box-shadow: 0 0 20px #0099ff;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 0 20px #0099ff;
}

.iconSection {
    padding: 45px 10px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 67, 154, 0.199);
    border-radius: 10px;
}

.iconSection a {
    color: transparent;
    text-decoration: none;
}
.iconSection a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.iconSection a:hover {
    color: transparent;
}

#test-icon {
    font-size: 50px;
    display: inline-block;
    cursor: pointer;
    margin: 15px 15px 15px 15px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 300ms;
}

#test-icon:hover {
    color: #4d6bbd;
    background-color: rgba(255, 255, 255, 0.534);
}

#test-icon:hover:after {
    opacity: 1;
    transform: scale(1.3);
}
#test-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 15px 3px #fff, 0 0 15px 3px #fff inset;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}

.bottomSection {
    z-index: 1;
    
}

@media screen and (max-width: 680px) {
    .description p {
        width: 100%;
        text-align: left;
        margin-bottom: 15%;
        margin-top: 5%;
        font-size: 17px;
    }
    .description h1 {
        width: 100%;
    }
    .aboutmeimg {
        text-align: center;
    }
    .about img {
        margin: auto;
    }
    .about h1 {
        margin: 1em;
    }
}